@font-face {
    font-family: "Lack Line Regular";
    src: url("assets/fonts/lack-line-regular-webfont.woff2") format("woff2"),
        url("assets/fonts/lack-line-regular-webfont.woff") format("woff");
}

:root {
    --doc-height: 100%;
    --bg-color: #1e1e1e;
    --txt-color: #f6f1e6;
    --acc-color: #ffb500;
    --white: #fff;
    --black: #000;
    --nav-width: 32px;
    --txt-large: calc(2vw + 1rem);
    --txt-medium: calc(.75vw + 1rem);
    --txt-small: 1rem;
    --txt-nav: .9rem;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
}

em {
    position: relative;
}

em::after {
    content: "";
    width: 100%;
    height: 1px;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    background-color: var(--txt-color);
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

em:hover::after {
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.load {
    width: 100%;
    height: var(--doc-height);
    background-color: var(--bg-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    pointer-events: none;
    animation: fadeIn 2s ease 1 reverse forwards;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.load img {
    width: 37.5vw;
}

.container--home {
    -webkit-transform: translateX(calc(-240px + var(--nav-width)));
    -ms-transform: translateX(calc(-240px + var(--nav-width)));
    transform: translateX(calc(-240px + var(--nav-width)));
    opacity: 0;
    -webkit-animation: fadeIn 2s ease 1 forwards;
    animation: fadeIn 2s ease 1 forwards;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.container--page {
    -webkit-transform: translateX(calc(-50vw + var(--nav-width)));
    -ms-transform: translateX(calc(-50vw + var(--nav-width)));
    transform: translateX(calc(-50vw + var(--nav-width)));
    opacity: 0;
    -webkit-animation: fadeIn 2s ease 1 forwards;
    animation: fadeIn 2s ease 1 forwards;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    -webkit-transition: -webkit-transform .8s cubic-bezier(0.3, 0, 1, 0.2);
    transition: -webkit-transform .8s cubic-bezier(0.3, 0, 1, 0.2);
    -o-transition: transform .8s cubic-bezier(0.3, 0, 1, 0.2);
    transition: transform .8s cubic-bezier(0.3, 0, 1, 0.2);
    transition: transform .8s cubic-bezier(0.3, 0, 1, 0.2), -webkit-transform .8s cubic-bezier(0.3, 0, 1, 0.2);
}

.container.move {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.copytxt--large {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-size: var(--txt-large);
    line-height: 1.2;
}

.copytxt--medium {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-size: var(--txt-medium);
    line-height: 1.2;
}

.copytxt--small {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: var(--txt-small);
    line-height: 1.2;
}

.copytxt--large p,
.copytxt--medium p {
    margin-bottom: 4rem;
}

.nav-link,
.nav-list,
.nav-footer {
    font-family: "Oswald", sans-serif;
    font-size: var(--txt-nav);
    font-weight: 400;
    text-transform: uppercase;
    text-align: end;
}

.nav--home {
    width: 240px;
    color: var(--bg-color);
    background-color: var(--txt-color);
}

.nav--page {
    width: 50vw;
    color: var(--txt-color);
    background-color: var(--bg-color);
}

.nav {
    height: var(--doc-height);
    padding: 80px 32px;
    overflow-y: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: sticky;
    top: 0;
    z-index: 2;
    scrollbar-width: none;
}

.nav::-webkit-scrollbar {
    display: none;
}

.nav-link {
    position: absolute;
    right: var(--txt-nav);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

#cms-btn-placeholder {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 140px;
    right: 0;
}

#site-title {
    bottom: 128px;
    opacity: 1;
}

#contact {
    top: 42%;
    opacity: 1;
}

#btn-open--nav {
    cursor: pointer;
}

#btn-open--nav.rotate {
    cursor: text;
    right: var(--nav-width);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#site-title.rotate,
#contact.rotate {
    right: var(--nav-width);
    opacity: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.btn-close {
    position: absolute;
    top: 80px;
    left: 32px;
    cursor: pointer;
}

.nav-content {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 80px;
}

.nav--home .nav-content {
    height: 100%;
}

.content--hidden {
    opacity: 0;
    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.main-content {
    width: calc(100vw - var(--nav-width));
    position: relative;
}

.main-content span {
    font-family: "Lack Line Regular", sans-serif;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.content-wrapper--page {
    height: var(--doc-height);
    overflow: hidden;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.content-wrapper--home {
    color: var(--txt-color);
    padding: 80px 96px;
}

.copy-indent--main p:nth-child(even) {
    text-indent: 16vw;
}

.copy-indent--main p:nth-child(odd) {
    text-indent: -16vw;
    padding-left: 16vw;
}

.content--sponsor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    margin-bottom: 4rem;
}

.content--sponsor img {
    max-width: 72px;
}

.content-over {
    width: 100vw;
    height: var(--doc-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 5vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.content-over img {
    width: 40vw;
}

.content-over--open {
    font-family: "Fira Sans", sans-serif;
    position: relative;
    white-space: nowrap;
}

.content--bookmark {
    width: 20%;
    height: var(--doc-height);
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
    background-color: var(--txt-color);
    border-right: 1px solid var(--bg-color);
    -webkit-box-shadow: -4px 0 35px 5px var(--bg-color);
    box-shadow: -4px 0 35px 5px var(--bg-color);
    z-index: 2;
    scrollbar-width: none;
}

.content--bookmark::-webkit-scrollbar {
    width: 1px;
}

.content--bookmark::-webkit-scrollbar-track {
    background: var(--txt-color);
}

.content--bookmark::-webkit-scrollbar-thumb {
    background: var(--black);
}

.content--bookmark p {
    margin-bottom: 4rem;
}

.content--bookmark p:last-child {
    margin-bottom: 0;
}

.content--block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 80px;
}

.content--images {
    width: 80%;
    height: var(--doc-height);
    position: relative;
    background-color: var(--white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content--images::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: var(--doc-height);
    -webkit-box-shadow: 10px 0 35px 15px var(--bg-color);
    box-shadow: 10px 0 35px 15px var(--bg-color);
}

.images-wrapper {
    width: auto;
    height: auto;
    overflow-x: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -1px;
    scrollbar-width: none;
}

.images-wrapper::-webkit-scrollbar {
    display: none;
}

.images-wrapper img {
    max-width: 100%;
}

.btn-info {
    position: absolute;
    cursor: pointer;
    z-index: 3;
}

#btn-info--bookmark {
    top: 72px;
    left: calc(20% - 8px);
}

#btn-info--images {
    top: 72px;
    right: 40px;
}

.content--info {
    width: 50vw;
    height: var(--doc-height);
    overflow-y: scroll;
    position: absolute;
    top: 0;
    padding: 80px 32px;
    background-color: var(--bg-color);
    color: var(--txt-color);
    z-index: 4;
    -webkit-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
    scrollbar-width: none;
}

#info--bookmark.slide,
#info--images.slide {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.content--info::-webkit-scrollbar {
    display: none;
}

.content--symbol {
    text-align: center;
    margin-bottom: 4rem;
}

.content--symbol img {
    width: 50%;
}

#info--bookmark {
    -webkit-transform: translateX(-50vw);
    -ms-transform: translateX(-50vw);
    transform: translateX(-50vw);
    left: 0;
    border-right: solid 1px var(--txt-color);
}

#info--images {
    -webkit-transform: translateX(50vw);
    -ms-transform: translateX(50vw);
    transform: translateX(50vw);
    right: 0;
    border-left: solid 1px var(--txt-color);
}

@media screen and (max-width: 720px) {

    .load,
    .content-over {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .load img,
    .content-over img {
        width: 65vw;
    }

    .content-over {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 0;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }

    .content-wrapper--home {
        padding: 24px;
    }

    .content-wrapper--page {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .container--page {
        -webkit-transform: translateX(calc(-100vw + var(--nav-width)));
        -ms-transform: translateX(calc(-100vw + var(--nav-width)));
        transform: translateX(calc(-100vw + var(--nav-width)));
    }

    .nav--page {
        width: 100vw;
    }

    .content--bookmark {
        width: 100%;
        height: 35%;
        border-right: none;
        border-bottom: 1px solid var(--bg-color);
    }

    .content--images {
        width: 100%;
        height: 65%;
    }

    .content--images::after {
        content: none;
    }

    #btn-info--bookmark {
        left: auto;
        right: 16px;
    }

    #btn-info--images {
        top: auto;
        bottom: 80px;
        right: 8px;
    }

    .content--info {
        width: 100vw;
    }

    #info--bookmark {
        -webkit-transform: translateX(-100vw);
        -ms-transform: translateX(-100vw);
        transform: translateX(-100vw);
        border-right: none;
    }

    #info--images {
        -webkit-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
        transform: translateX(100vw);
        border-left: none;
    }

    .content--symbol img {
        width: 100%;
    }

    .btn-wrapper {
        top: 1rem;
        right: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        gap: 4rem;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }

    #btn-prev--images svg,
    #btn-next--images svg,
    #btn-close--nav svg,
    #btn-close--bookmark svg,
    #btn-close--images svg {
        width: 12px;
        height: 12px;
    }
}