:root {
    --bg-color: #252525;
    --txt-color: #F6F1E6;
    --white: #fff;
    --black: #000;
    --nav-width: calc(8vw + 1rem);
    --margin-t-b: calc(6vh + 1rem);
    --txt-large-copy: calc(1vw + 3rem);
    --txt-medium-copy: calc(1vw + 1.5rem);
    --txt-small-copy: 1rem;
    --txt-nav: .9rem;
    --border: solid 1px var(--black);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes moveText {
    0% {
        bottom: -0.2em;
        opacity: 1;
    }

    50% {
        bottom: 0.2em;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

.animate {
    animation: fadeIn .5s 3s forwards;
}

body {
    /* width: 100%; */
    height: auto;
    overflow-x: hidden;
    background-color: var(--bg-color);
}

.load {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    animation: fadeIn 2s ease 1 reverse forwards;
}

.load img {
    width: 37.5vw;
}

.nav {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: var(--txt-nav);
    color: var(--txt-color);
    text-transform: uppercase;
    width: var(--nav-width);
    height: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: var(--margin-t-b);
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav__wrapper {
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
    row-gap: .5rem;
    flex-wrap: wrap;
}

.nav__link {
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 2s ease 1 forwards;
}

.nav__link:nth-child(odd) {
    animation-delay: 1.75s;
}

.nav__link:nth-child(even) {
    animation-delay: 2s;
}

.content {
    position: relative;
    opacity: 0;
    animation: fadeIn 2s ease 1 forwards;
    animation-delay: 1.5s;
}

.--fix-height {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.content__copy {
    font-family: "Fira Sans", sans-serif;
    color: var(--txt-color);
    margin: var(--margin-t-b) var(--nav-width);
}

.content__copy--main {
    font-weight: 300;
    font-size: var(--txt-large-copy);
    line-height: 1.1;
}

.content__copy--small {
    font-weight: 300;
    font-size: var(--txt-medium-copy);
    line-height: 1.1;
}

.content__copy--main p,
.content__copy--small p {
    margin-bottom: 2rem;
}

.content--serif {
    font-style: italic;
    font-weight: 200;
    font-size: calc(2vw + 4rem);
    line-height: 0;
    color: var(--txt-color);
}

.content__copy--images {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.content__copy--images img {
    width: 72px;
}

.content__over {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 5vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s ease;
}

.content__over img {
    width: 40vw;
}

.content__over--open {
    position: relative;
    display: inline-block;
    border-bottom: solid 2px var(--txt-color);
}

/* .content__over--open::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--txt-color);
    position: absolute;
    left: 0%;
    bottom: 8px;
} */

.footer {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: var(--txt-nav);
    text-transform: uppercase;
    color: var(--txt-color);
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: var(--margin-t-b) var(--nav-width);
}

.nav--pages {
    position: absolute;
    top: var(--margin-t-b);
    left: 1rem;
    z-index: 2;
    transition: all .5s ease;
}

@keyframes goBehind {
    0% {
        z-index: 3;
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        z-index: -1;
        opacity: 1;
    }
}

.nav--pages.behind {
    animation: goBehind .5s ease forwards 1;
}

.nav--pages img {
    cursor: pointer;
    display: block;
    width: 12vw;
}

.content__main {
    height: 100vh;
    background-color: var(--white);
    margin-left: var(--nav-width);
    font-family: "Fira Sans", sans-serif;
    color: var(--bg-color);
    transition: margin-left .5s ease;
}

.content__main--bookmark {
    width: 20vw;
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    background-color: var(--txt-color);
    border: var(--border);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 2;
}

.bookmark__copy {
    margin-bottom: 3rem;
}

.bookmark__copy:last-child {
    margin-bottom: 0;
}

.content__main--table {
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table__wrapper {
    overflow-x: scroll;
    display: flex;
}

.table__wrapper::-webkit-scrollbar {
    display: none;
}

.table__wrapper img {
    width: 100%;
}

.ui-btn {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 2rem;
    cursor: pointer;
    z-index: 2;
}

#info--close,
#manicula-e--close,
#manicula-c--close {
    top: 2rem;
}

#next {
    bottom: 2rem;
}

#enlarge {
    top: 2rem;
    transition: all .5s ease;
}

#enlarge.hide {
    pointer-events: none;
    opacity: 0;
}

#close {
    top: 2rem;
    pointer-events: none;
    opacity: 0;
    transition: all .5s ease;
}

#close.visible {
    pointer-events: all;
    opacity: 1;
}

.content__main.enlarge {
    margin-left: 0;
}

.content__info {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    color: var(--bg-color);
    background-color: var(--white);
    border: var(--border);
    margin-left: var(--nav-width);
    padding: var(--margin-t-b) var(--nav-width);
    height: 100vh;
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

#info--block {
    transform: translateX(100%);
    transition: transform .5s ease;
}

#manicula-e--block {
    transform: translateY(100%);
    transition: transform .5s ease;
}

#manicula-c--block {
    transform: translateY(-100%);
    transition: transform .5s ease;
}

#info--block.slide-in,
#manicula-e--block.slide-in,
#manicula-c--block.slide-in {
    transform: none;
}

.content__main--bookmark::-webkit-scrollbar,
.content__info::-webkit-scrollbar {
    width: 1px;
}

.content__main--bookmark::-webkit-scrollbar-track {
    background: var(--txt-color);
}

.content__info::-webkit-scrollbar-track {
    background: var(--white);
}

.content__main--bookmark::-webkit-scrollbar-thumb,
.content__info::-webkit-scrollbar-thumb {
    background: var(--black);
}